<!DOCTYPE html>
<html lang="en">

<head>   
    <meta charset="UTF-8">

    <title>BRAND - Error!</title>

    <link rel="stylesheet" href="css/reset.css">
</head>

<body>
    <script type=\"text/javascript\">
        alert('Страницы не существует');
    </script>

    <h1>404</h1>
    <h2>Такой страницы нет!</h2>
    <img src="/img/404/404.jpg" alt="Котик">
    <h3>Не расстраивай котика, вернись на <a href="IndexMagazin">главную</a> страницу!</h3>

    <style>
        h1, h2, h3, img {
            display: block;
            margin: 0 auto;
            font-family: sans-serif;
            text-align: center;
            }
        img {
            margin: 15px auto;
            }
        h1 {font-size: 404px;}
        h2 {
            color: #F16D7F;
            font-size: 100px;
            }
        h3 {font-size: 50px;}

        a {
            color: #F16D7F;
            text-decoration: none;
        }
    </style>
</body>

</html>