<!-- begin: banner1.tmpl -->
<section class="banner_page1">
    <div class="banner_container container">
        <p>{{breadcrumb}}<!-- New Arrivals --></p>
        <nav class="breadcrumb"><a href="IndexMagazin">Home</a>
            <!-- <p>&nbsp;/&nbsp;</p><a href="#">Men</a> -->
            <p>&nbsp;/&nbsp;</p><a href="{{breadcrumb}}"><span>{{breadcrumb}}<!-- New Arrivals --></span></a></nav>
    </div>
</section>
<!-- end: banner1.tmpl -->