<!-- begin: footer.tmpl -->
<div class="footer">
    <div class="footer_content_box">
        <div class="BRAND">
            <div class="logo">
                <a href="#">
                    <div class="logo_img"><img src="/img/group-2.png" alt="logo"></div>
                    <div class="logo_text">
                        <p>BRAN<span>D</span></p>
                    </div>
                </a>
            </div>
            <div class="brand_text">
                <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                    <br>
                    <br>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
            </div>
        </div>
    </div>
    <div class="footer_content_box">
        <nav class="COMPANY">
            <h4>COMPANY</h4>
            <ul>
                <li><a href="/IndexMagazin">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer_content_box">
        <nav class="INFORMATION">
            <h4>INFORMATION</h4>
            <ul>
                <li><a href="#" target="_blank">Tearms &amp; Condition</a></li>
                <li><a href="#" target="_blank">Privacy Policy</a></li>
                <li><a href="#" target="_blank">How to Buy</a></li>
                <li><a href="#" target="_blank">How to Sell</a></li>
                <li><a href="#" target="_blank">Promotion</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer_content_box">
        <nav class="SHOP_CATEGORY">
            <h4>SHOP CATEGORY</h4>
            <ul>
                <li><a href="#" target="_blank">Men</a></li>
                <li><a href="#" target="_blank">Women</a></li>
                <li><a href="#" target="_blank">Child</a></li>
                <li><a href="#" target="_blank">Apparel</a></li>
                <li><a href="#" target="_blank">Brows All</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="footer_border">
    <div class="footer_border_content">
        <div class="copirite">
            <p>© 2017 Brand All Rights Reserved.</p>
        </div>
        <nav class="social_network"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#" class="unactive"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></nav>
    </div>
</div>
<!-- end: footer.tmpl -->