<!-- begin: head.tmpl -->
	<meta charset="UTF-8">
	<title>BRAND - {{breadcrumb}}</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/font-awesome.css">

	
	<!-- <script src="js/libs.min.js"></script> -->
	<script defer src="/js/jquery-3.2.1.min.js"></script>
	<script defer src="/js/jquery-ui.min.js"></script>
	<script defer src="/js/scripts.min.js"></script>
<!-- end: head.tmpl -->