<!-- begin: header_nav.tmpl -->
<nav class="nav">
    <ul class="nav_menu">
        <li><a href="/IndexMagazin">Home</a></li>
        <li><a href="/MagazinProduct">Man</a></li>
        <li class="nav_drop-down_menu"><a href=#>Women</a>
            <div class="nav_submenu">
                <div class="arrow_nav_submenu"><img src="/img/little_white_arrow.png"></div>
                <nav class="nav_submenu_box"><a href="#">Women</a>
                    <div class="gray_line"></div>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Denim</a></li>
                        <li><a href="#">Leggings/Pants</a></li>
                        <li><a href="#">Skirts/Shorts</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                </nav>
                <nav class="nav_submenu_box"><a href="#">Women</a>
                    <div class="gray_line"></div>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                    </ul><a href="#">Women</a>
                    <div class="gray_line"></div>
                    <ul>
                        <li><a href=#>Dresses</a></li>
                        <li><a href=#>Tops</a></li>
                        <li><a href=#>Sweaters/Knits</a></li>
                    </ul>
                </nav>
                <nav class="nav_submenu_box"><a href="#">Women</a>
                    <div class="gray_line"></div>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                    </ul><a href="#"><img src="/img/1-layers.png" alt="Super sale!"></a></nav>
            </div>
        </li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Accoseriese</a></li>
        <li><a href="#">Featured</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="/MagazinCheckout">Checkout</a></li>
        <li><a href="/MagazinShopping_Cart">Shopping Cart</a></li>
    </ul>
</nav>
<!-- end: header_nav.tmpl -->