<!-- begin: pre-footer.tmpl -->
<div class="pre-footer">
    <div class="pre-footer_container">
        <div class="comments">
            <div class="foto"><img src="/img/foto.png" alt="Foto"></div>
            <div class="comments_text">
                <p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                <div class="name">
                    <p>Bin Burhan</p>
                </div>
                <div class="locatin">
                    <p>Dhaka, Bd</p>
                </div>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="subscribe">
            <div class="subscribe_text">
                <h4>Subscribe</h4>
                <p>FOR OUR NEWLETTER AND PROMOTION</p>
            </div>
            <div class="subscribe-form">
                <form action="#" method="post">
                    <div class="text-field_subscribe">
                        <input type="email" pattern="\S+@[a-z]+.[a-z]+" placeholder="Enter Your Email">
                    </div>
                    <div>
                        <button class="button_subscribe">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end: pre-footer.tmpl -->